@import "src/global";

@mixin alterTextAndBackground() {
    background: darken($black, 3%);
    color: $orange;
    .block_value_text {
        color: $med-blue;
    }
}
/**
   Styling of a Block list component and Block Link items
 */
.block__list{
    overflow-y: auto;
    height: 89.99vh;
    &__header{
        margin-top: 10px;
        display: flex;
        color: $light-font;
        justify-content: space-between;
        border-bottom: 1px solid lighten($black, 10%);
        .header__title {
            width: fit-content;
        }
    }
    &__block{
        display: block;
        border-bottom: 1px solid lighten($black, 10%);
        color: $light-font;
        padding: 5px;
        text-decoration: none;
        &.active{
            @include alterTextAndBackground;
            user-select: none;
        }

        &:hover{
            @include alterTextAndBackground;
        }
        &_value{
            padding: 2px 0;
            word-break: break-word;
            margin: 5px 2px;
            font-size: .8em;
            .block_value_text{
                color: $light-blue;
            }
        }
    }
}
